.block--lead {
    .container {
        > .d-flex {
            > [class*="col"] {
                &:nth-child(2n+1) {
                    &:not(:only-child) {
                        @media screen and (min-width: $screen-xl-min) {
                            padding-right: 60px;
                            & + * {
                                padding-left: 60px;
                            }   
                            @media screen and (min-width: $screen-xxl-min) {
                                padding-right: 90px;
                                & + * {
                                    padding-left: 90px;
                                }
                            }                        
                        }
                    }
                }
            }
        }
        .form {
            padding: 40px 50px;
            height: 100%;
            background-color: rgba(0,0,0,.2);
            .tip {
                @include toRem(font-size, 10);
                font-style: italic;
            }
            &,
            .contact-message-form {
                @media screen and (min-width: $screen-md-min) {
                    display: flex;
                    flex-flow: row wrap;
                }
                .btn {
                    border: 0;
                }
                .form-item {
                    width: 100%;
                    position: relative;
                    &.required {
                        &::before {
                            content: '*';
                            position: absolute;
                            top: -5px;
                            left: -15px;                            
                            display: block;
                            color: color(secondary, base);
                        }
                    }                    
                    &.js-form-type-checkbox {
                        display: flex;
                        align-items: center;
                        .form-checkbox {
                            height: 20px;
                            width: 20px;
                            border-radius: 0;
                            padding: 0;
                            margin: 0;
                            position: relative;
                            background-color: transparent;
                            z-index: 2;
                            border: 0;
                            cursor: pointer;
                            border-radius: 5px;
                            background-color: white;
                            &::after {
                                height: 20px;
                                width: 20px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                content: '✔';
                                transition: 500ms ease-in-out all;
                                @include toRem(font-size, 12); 
                                opacity: 0;
                                color: color(primary, base);
                            }
                            &:checked::after {
                                opacity: 1;
                            }
                        }
                        label {
                            padding-left: 10px;
                            @include toRem(font-size, 14); 
                            padding-right: 30px;
                            line-height: 1;                        
                            a {
                                color: color(secondary, base);
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .form-control {
                        &[type="tel"],
                        &[type="email"],
                        &[type="password"],
                        &[type="text"] {
                            color: white;
                            background-color: transparent;
                            border: 1px #c5cdd0 solid;
                            padding: 11px 10px;
                            border-radius: 0;
                            @include toRem(font-size, 16); 
                            transition: 500ms ease all;
                            outline: 0;
                            position: relative;
                            &:focus {
                                border-color: lightblue;
                            }     
                            &::placeholder {
                                color: white;
                                opacity: 1; 
                            }
                            &:-ms-input-placeholder { 
                                color: white;
                            }
                            &::-ms-input-placeholder { 
                                color: white;
                            }                                         
                        }
                    }
                    .form-select {
                        @extend .form-control;
                        @extend .form-control[type="text"];
                        white-space: normal;
                        color: white;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        option {
                            color: black;
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    // &[class*="nome"],
                    // &[class*="telefone"] {
                    //     @media screen and (min-width: $screen-md-min) {
                    //         width: 50%;
                    //     }
                    // }
                }
            }
        }
        h1 {
            text-transform: uppercase;
            @include toRem(font-size, 42);
        }
        h2 {
            text-align: center;
            @include toRem(font-size, 24); 
            & + p {
                text-align: center;
            }
        }    
        p {
            @include toRem(font-size, 16);
            line-height: 1.4;
            font-family: 'Averta Demo PE';
        }
        @for $i from 1 through 3 {
            h#{$i} {
                line-height: 1.4;
                color: color(secondary, base);
                font-weight: 700;
            }
        }  
    }    
}