$palettes: (
    primary: (base: #263b5a, dark: #223146),
    secondary: (base: #f4c638),
    gray: (base: #39312f),
);

@function color($color,$tone){

    @if map-has-key($palettes,$color){
        $color: map-get($palettes,$color);

            @if map-has-key($color,$tone){
                $tone: map-get($color,$tone);
                @return $tone;
            }

            @warn "unknown tone `#{$tone}` in color";
            @return null;        
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;
   
}
